node_modules/
dist/
.env

# Generated
generated/
coverage/

.opencode/
opencode.json

# Java stuff
.gradle/
build/
/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary
.idea
stats.html