.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm);
  padding: var(--lg);
}

.link {
  text-decoration: none;
}

.button {
  padding: var(--sm) var(--lg);
}
